<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container pageTitle="{f:translate(key: 'pagetitle')}" includeRequireJsModules="{0:'TYPO3/CMS/NsLicense/Main'}">

    <!-- Due to css-order rendering issue ignoring "includeCssFiles" -->
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'ns_license')}" media="all">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/Module/global.css', extensionName: 'ns_license')}" media="all">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/custom.css', extensionName: 'ns_license')}" media="all">

	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<div class="ns-ext-navigation">
					<nav class="navbar navbar-expand-lg">
						<a class="navbar-brand" href="javascript:;"><f:translate key="license-activation" /></a>
						<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nsextNavbar"
							aria-controls="nsextNavbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>-->
					</nav>
				</div>
				<f:render section="content" />
			</div>
		</div>
	</div>
	<div id="activation-modal" class="t3js-modal modal fade modal-type-default modal-severity-info modal-style-light modal-size-default" tabindex="-1">
		<div class="modal-dialog">
			<div class="t3js-modal-content modal-content">
				<div class="modal-header">
					<h4 class="t3js-modal-title modal-title"><f:translate key="license-activation.update_extension" /></h4>
					<button class="t3js-modal-close close" data-dismiss="modal">
						<span aria-hidden="true">
							<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-close" data-identifier="actions-close">
								<span class="icon-markup">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
										<path d="M11.9 5.5L9.4 8l2.5 2.5c.2.2.2.5 0 .7l-.7.7c-.2.2-.5.2-.7 0L8 9.4l-2.5 2.5c-.2.2-.5.2-.7 0l-.7-.7c-.2-.2-.2-.5 0-.7L6.6 8 4.1 5.5c-.2-.2-.2-.5 0-.7l.7-.7c.2-.2.5-.2.7 0L8 6.6l2.5-2.5c.2-.2.5-.2.7 0l.7.7c.2.2.2.5 0 .7z" class="icon-color"></path>
									</svg>
								</span>
							</span>
						</span>
						<span class="sr-only"></span>
					</button>
				</div>
				<div class="t3js-modal-body modal-body">
					<p><f:translate key="license-activation.update_extension_msg" />?</p>
				</div>
				<div class="t3js-modal-footer modal-footer">
					<button class="btn t3js-active btn-default" data-dismiss="modal"><span><f:translate key="license-activation.update_extension_btn_cancel" /></span></button>
					<button class="btn btn-info activation-modal-update" data-dismiss="modal"><span><f:translate key="license-activation.update_extension_btn_update" /></span></button>
				</div>
			</div>
		</div>
	</div>
</f:be.container>

</html>
