.typo3-fullDoc div#typo3-docbody {
    top: 0;
}
.ns-license-table-wrap {
    margin-bottom: 20px;
}
.ns-license-activation-table > thead > tr > th,
.ns-license-activation-table > tbody > tr > td {
    line-height: normal;   
}
.ns-license-activation-form .form-check .form-check-input {
    margin-left: -1.25rem;
}
.ns-license-actions-btns a {
    margin-bottom: 0;
}
.ns-license-loader,
.ns-license-loader img {
    position: absolute;
}
.ns-license-loader {
	background-color: rgba(0,0,0, 0.7);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
}
.ns-license-loader img {
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    max-width: 120px;
    width: 100%;
}
.ns-license-icon-cell a {
    text-decoration: none;
    outline: none;
}
.ns-license-icon-cell a img {
    max-width: 32px;
    width:auto;
}
.ns-license-icon-cell a em {
    color: #212529;  
    font-size: 26px; 
}
.ns-license-activation-table > thead > tr > th,
.ns-license-activation-table > tbody > tr > td{
    padding: 10px 15px;
}
@media (min-width: 993px){
    .ns-license-loader img {
        max-width: 120px;
    }
    .ns-license-activation-table > thead > tr > th,
    .ns-license-activation-table > tbody > tr > td{
        padding: 15px 20px;
    }
}
